body {
    background-color: rgb(14, 14, 14);
}

.construcao {
    color: black;
    font-size: 2em; /* Tamanho grande da fonte */
    text-align: center; /* Centraliza o texto */
    margin-top: 20%; /* Ajusta a posição vertical do texto */
}